html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: inline-block;
  background-color: #f5f5f5;
  width: 100%;
}

#forms {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12%;
  width: 300px;
}

.welcome-text {
  font-size: 200%;
  margin-left: 11%;
  text-align: center;
  margin-right: 11%;
}

.content-wrapper {
  width: 100%;
  max-width: 1336px;
  margin: 0 auto;
  padding: 50px;
}

.login {
  font-size: 16px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.table td, .table th {
  text-align: center;   
}

.main-container {
  padding: 30px;
}

#createGame {
  padding-bottom: 20px;;
}

.modal-body {
  text-align: center;
}

label {
  font-weight: 500;
}

#demand_option label, #const_dem {
  font-weight: 400;
}

#firstFormRow {
  width:70%; 
  margin: 0 auto;
}

#const_demand {
  width: 150px;
  margin: 0 auto;
}

.main-container-settings {
  width: 350px;
  margin: 0 auto;
  padding: 30px;
}

#setting_button1, #setting_button2 {
  width: 100%;
  margin: 0 auto;
}

/* GAME VIEW STYLES */

#div1 { 
  top: 0;
  left: 0;
}

#div2 { 
  top: 0;   
  left: 50%; 
}

#div3 { 
  top: 50%; 
  left: 0;   
}

#div4 { 
  top: 50%; 
  left: 50%; 
} 

.quadrant { 
  position: fixed; 
  width: 50%; 
  height: 50%;
  overflow: auto;
  border: 1px solid;
  text-align: center;
  padding: 30px;
}

.table-input-screen {
  border: 1px solid grey;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.table-cont, .all-orders-placed, .supply-chain-settings {
  padding-top: 15px;
}

.value {
  text-align: center;
  column-width: 40px;
  border-right: 1px solid grey;
  font-weight: bold;
}

.table-weeks th {
  font-weight: 600;
  font-size: 14px;
  background-color: #e8e8e8;
  width: 50px;
  line-height: 100%;
}

.table-weeks {
  width: 90%;
}

.status-table {
  width: 90%;
}

.plot-buttons {
  text-align: center;
}

#plot-btn {
  margin: 2px;
}

.settings-table {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

#val {
  text-align: left;
  font-weight: 600;
  color: #113170;
  padding-left: 5px;
}

h5 {
  font-weight: 700;
}